<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <h2>Formulario de Registro</h2>
    <form [formGroup]="userForm" (ngSubmit)="addUser()">
      <ion-item class="custom-item">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating">Edad</ion-label>
        <ion-input formControlName="age" type="number"></ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" color="success" [disabled]="userForm.invalid">
        {{ editingIndex !== null ? 'Editar' : 'Registrar' }} Usuario
      </ion-button>
    </form>
  </div>

  <div class="table-container">
    <h3>Usuarios Registrados</h3>
    <ion-grid>
      <ion-row>
        <ion-col size="4"><strong>Nombre</strong></ion-col>
        <ion-col size="4"><strong>Correo</strong></ion-col>
        <ion-col size="2"><strong>Edad</strong></ion-col>
        <ion-col size="2"><strong>Acciones</strong></ion-col>
      </ion-row>
      <ion-row *ngFor="let user of users; let i = index">
        <ion-col size="4">{{ user.name }}</ion-col>
        <ion-col size="4">{{ user.email }}</ion-col>
        <ion-col size="2">{{ user.age }}</ion-col>
        <ion-col size="2">
          <ion-button (click)="editUser(i)" color="primary">Editar</ion-button>
          <ion-button (click)="deleteUser(i)" color="danger">Eliminar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
