<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Usuarios EA8 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-wrapper">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ editingIndex !== null ? 'Editar Usuario' : 'Registrar Usuario' }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="userForm" (ngSubmit)="addUser()">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Edad</ion-label>
            <ion-input type="number" formControlName="age"></ion-input>
          </ion-item>

          <ion-button expand="block" type="submit" color="tertiary" [disabled]="userForm.invalid">
            {{ editingIndex !== null ? 'Actualizar' : 'Registrar' }}
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="user-list">
    <h3>Usuarios Registrados</h3>
    <ion-list>
      <ion-card *ngFor="let user of users; let i = index">
        <ion-card-header>
          <ion-card-title>{{ user.name }}</ion-card-title>
          <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Edad: {{ user.age }} años</p>
          <div class="button-group">
            <ion-button size="small" color="warning" (click)="editUser(i)">Editar</ion-button>
            <ion-button size="small" color="danger" (click)="deleteUser(i)">Eliminar</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
